*{
    margin: 0;
}
body{
    background-color: rgb(156, 163, 235);
}
.assignminto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 14px;
    height: 60px;
    color: whitesmoke;
    background-color: rgba(42, 42, 196, 0.865);
}

video{
    height: 150px;
    width: 300px;
    padding-left: 44px;
    padding-top: 60px;
}
.slogan{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 120px;
}

.container{
    padding-left: 160px;
    padding-top: 50px;
}
